<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.web.banner.mapper.SysBannerMapper">

    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.web.banner.entity.SysBanner">
            <id property="banId" column="ban_id" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="images" column="images" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ban_id,goods_id,title,
        images,status,order_num
    </sql>
</mapper>
