<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.web.user_order_detail.mapper.UserOrderDetailMapper">

    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.web.user_order_detail.entity.UserOrderDetail">
            <id property="detailId" column="detail_id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="goodsImage" column="goods_image" jdbcType="VARCHAR"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsUnit" column="goods_unit" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="specsName" column="specs_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        detail_id,order_id,goods_id,
        goods_image,goods_name,goods_unit,
        price,num,specs_name
    </sql>
</mapper>
